.navbar {
  background-color: #fff;
  padding: 1rem 5%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  z-index: 1030;
  position: relative;
}

.navbar-brand {
  font-weight: 500;
  font-size: 1.3rem;
}

.nav-link {
  color: #333 !important;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #000 !important;
}
.custombtn {
  background-color: #0d1321;
  color: #fff;
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s ease;
}
.custombtn:hover {
  background-color: #006aff;
  color: #fff;
}

.btn-contact {
  background-color: #0d1321;
  color: #fff;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}

.btn-contact:hover {
  background-color: #006aff;
  color: #fff;
}
.btn-search {
  background-color: #f3f4f6;
  color: #000000;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}
.btn-Active {
  background-color: #0d1321;
  color: #fff;
}
.btn-search:hover {
  background-color: #006aff;
  color: #fff;
}
.search-container {
  /* background: oklch(0.968 0.007 247.896); */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  animation: slideInUp 1s ease 0.6s both;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 1rem;
  align-items: end;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group select,
.form-group input {
  padding: 0.75rem;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group select:focus,
.form-group input:focus {
  outline: none;
  border-color: #2563eb;
}

.search-btn {
  background-color: #0d1321;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-btn:hover {
  background-color: #006aff;
  color: #fff;
}
